html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.fade-enter {
  opacity: 0;
  z-index: 1;
  transition: opacity 700ms ease-in; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in; }

h1, p, a {
  font-family: 'proxima-nova', sans-serif; }

.para-md-width {
  max-width: 600px; }

.text-center {
  text-align: center; }

.h1-header {
  color: #fff;
  font-size: 2.6em;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1.1em; }
  .h1-header--blue {
    color: #126ec3; }

.h3-header {
  color: #126ec3;
  font-size: 1.25em; }

.para {
  color: #126ec3;
  font-size: 1.1em;
  line-height: 1.25em;
  margin-bottom: 20px; }

@media only screen and (max-width: 500px) {
  .h1-header {
    font-size: 2.5em; } }

@media only screen and (max-width: 300px) {
  .para, .h1-header {
    text-align: center; } }

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  padding: .7rem 1.3rem;
  font-weight: bold; }
  .btn--blue {
    color: #126ec3;
    background-color: #fff;
    transition: color 200ms, background-color 200ms; }
    .btn--blue:hover {
      background-color: #126ec3;
      color: #fff;
      transition: color 200ms, background-color 200ms; }
  .btn--white {
    color: #fff;
    background-color: #126ec3;
    transition: background-color 75ms; }
    .btn--white:hover {
      background-color: #1061ac;
      transition: background-color 200ms; }

.lrg-btm-sp {
  margin-bottom: 50px; }

.center-content {
  margin: 0 auto; }

.full-width-row {
  width: 100%;
  padding: 70px 0; }

.row-container {
  max-width: 1082px;
  margin: 0 auto; }

@media only screen and (max-width: 1082px) {
  .row-container {
    max-width: 96%;
    margin: 0 2%; } }

.desktop-nav-active .nav__list__section__text {
  text-decoration: underline; }

.nav {
  height: 55px;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0; }
  .nav__list {
    height: 100%;
    background: #143ca2;
    padding: 0;
    margin: 0 auto; }
    .nav__list__section {
      height: 55px;
      display: flex;
      list-style: none;
      align-items: center;
      color: white;
      margin: 0 22.5px 0 0;
      text-decoration: none;
      font-size: 1em; }
      .nav__list__section__text {
        transition: color 200ms ease; }
      .nav__list__section__mobile-icon {
        display: none; }
      .nav__list__section--cta {
        margin-left: auto;
        background-color: #126ec3;
        padding: 0 10px; }
      .nav__list__section__item__img-container {
        height: 40px;
        padding: 10px 0;
        position: relative;
        bottom: 2px; }
        .nav__list__section__item__img-container__img {
          height: 100%;
          margin-right: 15px; }

@media only screen and (max-width: 500px) {
  .nav__list__section {
    display: none; }
    .nav__list__section:first-child {
      display: block;
      margin-left: auto; }
    .nav__list__section__item__img-container {
      float: right;
      bottom: 4px; }
    .nav__list__section__mobile-icon {
      display: inline-block;
      padding: 15px 0;
      font-size: 1.5em;
      cursor: pointer; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .overlay--hidden {
    background-color: transparent;
    z-index: -99;
    transition: background-color 250ms ease, z-index 1ms linear 250ms; }
  .overlay--active {
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 99;
    transition: background-color 275ms ease; }

.mobile-nav-active {
  background: #126ec3; }

.mobile-nav {
  z-index: 100;
  display: block;
  background: #11348b;
  position: fixed;
  top: 0;
  width: 200px;
  left: -200px;
  height: 100%;
  transition: left 250ms ease; }
  .mobile-nav--slide-out {
    left: 0;
    transition: left 250ms ease; }
  .mobile-nav__list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    .mobile-nav__list__item {
      display: block;
      cursor: pointer;
      color: white;
      text-decoration: none;
      padding: 15px 0 15px 25px;
      border-bottom: 1px solid #fff; }
      .mobile-nav__list__item__close-icon {
        font-size: 1.75em;
        padding: 17px 0 17px 6px;
        height: 100%;
        background-color: #0e2b75;
        cursor: auto; }
        .mobile-nav__list__item__close-icon--close {
          position: relative;
          left: 10px;
          top: 2.5px;
          cursor: pointer; }

.footer {
  padding: 25px 0;
  background: #0d2561; }
  .footer__icons {
    color: #fff;
    text-align: center;
    padding: 25px 0; }
    .footer__icons :visited {
      color: #fff; }
    .footer__icons__icon {
      margin: 0 10px;
      font-size: 1.15em;
      color: #fff; }
      .footer__icons__icon :visited {
        color: #fff; }
  .footer__list {
    color: #fff;
    display: flex;
    justify-content: center;
    color: #fff; }
    .footer__list :visited {
      color: #fff; }
    .footer__list__item {
      margin: 0 10px;
      text-decoration: none; }
      .footer__list__item__link {
        text-decoration: none;
        color: white; }
        .footer__list__item__link :visited {
          color: #fff; }

@media only screen and (max-width: 500px) {
  .footer__list {
    flex-direction: column;
    align-items: center; }
    .footer__list__item {
      margin: 10px 0; }
    .footer__list__pipe {
      display: none; } }

.home-hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url("./images/backgrounds/home-bg.jpg") no-repeat 50% 25%;
  background-size: cover; }
  .home-hero-bg--secondary {
    background: url("./images/backgrounds/home-hero-cutout.png") no-repeat 60% 100%; }

.skills-hero-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.15)), url("./images/backgrounds/skills-bg.jpg") no-repeat 0% 60%;
  background-size: cover; }

.work-hist-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("./images/backgrounds/work-hist-bg.jpg") no-repeat 0% 50%;
  background-size: cover; }

.projects-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("./images/backgrounds/projects-bg.jpg") no-repeat 0% 27%;
  background-size: cover; }

.youtube-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("./images/backgrounds/youtube-bg.jpg") no-repeat 0% 12.5%;
  background-size: cover; }

.contact-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("./images/backgrounds/contact-bg.jpg") no-repeat 0% 22.5%;
  background-size: cover; }

.hero {
  height: 400px;
  z-index: 1; }
  .hero__content {
    z-index: 2;
    display: inline-block;
    margin-top: 100px;
    width: calc(100% - 50px);
    color: white; }
    .hero__content__h1 {
      font-size: 3.25em;
      text-transform: uppercase; }
    .hero__content__h2 {
      font-size: 1.65em;
      margin-top: 15px;
      line-height: 1.25em;
      font-weight: 300; }
    .hero__content__button {
      border: none;
      color: white;
      position: relative;
      top: 35px;
      text-decoration: none;
      text-transform: capitalize;
      border-radius: 3px;
      font-size: 1em;
      background-color: #126ec3;
      padding: 11px;
      cursor: pointer;
      transition: background-color 75ms; }
    .hero__content__button:hover {
      background-color: #1061ac;
      transition: background-color 200ms; }

@media only screen and (max-width: 600px) {
  .home-hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.36)), url("./images/backgrounds/home-bg.jpg") no-repeat 50% 25%; }
    .home-hero-bg--secondary {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/backgrounds/home-hero-cutout.png") no-repeat 60% 100%; }
  .hero {
    max-width: 100%;
    margin: 0;
    width: 100%; }
    .hero__content {
      margin-left: 2%; }
      .hero__content__h1 {
        font-size: 2.75em; } }

.home-primary-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("./images/primary_skill_bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%; }

.four-col-primary__container {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 75px; }
  .four-col-primary__container__item__icon {
    font-size: 3em;
    margin-bottom: 25px; }
  .four-col-primary__container__item__header {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px; }
  .four-col-primary__container__item__para {
    max-width: 175px;
    margin: 0 auto; }

@media only screen and (max-width: 800px) {
  .four-col-primary__container {
    justify-content: space-between; }
    .four-col-primary__container__item {
      width: 50%; }
      .four-col-primary__container__item:nth-of-type(1), .four-col-primary__container__item:nth-of-type(2) {
        padding-bottom: 50px; } }

@media only screen and (max-width: 600px) {
  .four-col-primary__container {
    margin-bottom: 0;
    justify-content: space-between; }
    .four-col-primary__container__item {
      width: 100%;
      padding-bottom: 50px; }
    .four-col-primary__container__button {
      margin: 0 auto; } }

.img-left {
  order: -1; }

.img-right {
  order: 0; }

.two-col-container {
  display: flex;
  flex-wrap: wrap; }
  .two-col-container__text-container {
    width: calc(50% - 50px);
    margin: 0 25px; }
    .two-col-container__text-container__para {
      max-width: 425px; }
  .two-col-container__img-container {
    max-width: 50%;
    max-height: 265.938px;
    overflow: hidden; }
    .two-col-container__img-container__img {
      width: 90%; }

@media only screen and (max-width: 750px) {
  .two-col-container__text-container, .two-col-container__img-container {
    width: 100%; }
  .two-col-container .img-left {
    order: 0; }
  .two-col-container__img-container {
    margin: 30px auto;
    max-width: 90%; } }

.three-col-wrap, .four-col-wrap {
  display: flex;
  flex-wrap: wrap; }
  .three-col-wrap__item__inner, .four-col-wrap__item__inner {
    width: 150px;
    text-align: center; }

.three-col-wrap {
  margin-top: 50px;
  align-items: baseline;
  justify-content: flex-start; }
  .three-col-wrap__item {
    width: 33.3333%; }
    .three-col-wrap__item__inner__img {
      width: 100%;
      padding: 1em 0; }
    .three-col-wrap__item__inner__icon {
      font-size: 4.2em;
      margin-bottom: 25px;
      color: #126ec3; }

.four-col-wrap {
  justify-content: flex-start;
  margin-left: -25px; }
  .four-col-wrap__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px; }
    .four-col-wrap__item__inner__icon {
      font-size: 4.2em;
      margin-bottom: 25px;
      color: #126ec3; }
    .four-col-wrap__item__inner__jquery-img {
      display: block;
      max-width: 100%;
      padding: 1em 0;
      margin-bottom: 20px; }

@media only screen and (max-width: 600px) {
  .three-col-wrap {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .three-col-wrap__item {
      width: 100%;
      margin: 25px 0; }
      .three-col-wrap__item__inner {
        width: auto; }
  .four-col-wrap {
    margin-left: 0; }
    .four-col-wrap__item {
      width: 50%; } }

@media only screen and (max-width: 300px) {
  .four-col-wrap {
    justify-content: center; }
    .four-col-wrap__item {
      width: 100%;
      align-items: center; } }

.YouTube-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .YouTube-container__iframe {
    width: 350px;
    height: 195px;
    margin-bottom: 10px; }

@media only screen and (max-width: 1088px) {
  .YouTube-container {
    justify-content: space-around; }
    .YouTube-container__iframe {
      width: 380px;
      height: 215px; } }

@media only screen and (max-width: 810px) {
  .YouTube-container {
    justify-content: center; }
    .YouTube-container__iframe {
      width: 450px;
      height: 251px; } }

@media only screen and (max-width: 400px) {
  .YouTube-container {
    justify-content: center; }
    .YouTube-container__iframe {
      width: 300px;
      height: 167px; } }

.error-primary-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("./images/primary_skill_bg.jpg") no-repeat center;
  background-size: cover;
  height: calc(100vh - 249px); }

.error-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 500px;
  text-align: center; }
  .error-div__header {
    color: #fff;
    font-size: 4.5em;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .error-div__sub-header {
    color: #fff;
    font-size: 1.5em; }

@media only screen and (max-width: 600px) {
  .error-div__header {
    font-size: 4.2em;
    margin-bottom: 10px; }
  .error-div__sub-header {
    font-size: 1.1em; } }

.cta-bg {
  background: url("./images/cta-bg.jpg") no-repeat 50% 25%;
  background-size: cover; }

.cta__header {
  margin-bottom: 15px; }

.cta__para {
  max-width: 375px;
  margin: 0 auto 25px; }

@media only screen and (max-width: 600px) {
  .cta {
    margin: 0 2.5%; } }

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out; }

.ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModal__Overlay--before-close {
  opacity: 0; }

.contactModal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 300px;
  height: 200px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0; }

.modalHeader-container {
  color: #fff;
  font-weight: bold;
  background-color: #298ce9;
  text-align: center;
  height: 40px; }
  .modalHeader-container__text {
    position: relative;
    top: 13px;
    left: 20px; }
  .modalHeader-container__close-icon {
    background-color: #126ec3;
    float: right;
    cursor: pointer;
    padding: 12.3px; }

.form-error {
  color: #ff735b;
  margin: 5px 0 10px; }
  .form-error:last-of-type {
    margin-bottom: 15px; }

.cta-form--bg {
  background: url("./images/form-bg.jpg") no-repeat 50% 25%;
  background-size: cover; }

.cta-form__input, .cta-form__textarea {
  width: 400px;
  display: block;
  border: none;
  border-radius: 2.5px;
  padding: 5px 10px;
  font-family: 'proxima nova';
  letter-spacing: .25px;
  font-size: 1em; }

.cta-form__input {
  margin-bottom: 31px;
  height: 25px;
  font-weight: bold; }
  .cta-form__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset; }

.cta-form__textarea {
  height: 125px;
  margin-bottom: 30px; }

.cta-form__label {
  color: #fff;
  font-size: 1.1em;
  text-transform: capitalize;
  margin-bottom: 7.5px;
  display: inline-block; }

@media only screen and (max-width: 475px) {
  .cta-form__input, .cta-form__textarea {
    width: 90%; } }

.modal-body {
  display: block;
  height: 75px;
  position: relative;
  text-align: center;
  border: none; }
  .modal-body__text {
    text-align: center;
    vertical-align: middle;
    line-height: 1.1em;
    margin-top: 60px;
    padding: 0 10px; }
