body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

h1, p, a {
  font-family: proxima-nova, sans-serif; }

.content-wrapper {
  max-width: 1082px;
  margin: 0 auto; }

.nav {
  height: 75px; }
  .nav__list {
    background: #143ca2;
    padding: 0;
    margin: 0 auto; }
    .nav__list__section {
      display: flex;
      list-style: none;
      align-items: center;
      height: 70px;
      color: white;
      margin: 0 15px 0 0;
      text-decoration: none; }
      .nav__list__section__mobile-icon {
        display: none; }
      .nav__list__section:first-child {
        margin-left: 15px; }
      .nav__list__section--left {
        margin-left: auto; }
      .nav__list__section__item__img-container {
        height: 50px;
        padding: 10px 0; }
        .nav__list__section__item__img-container__img {
          height: 100%;
          margin-right: 15px; }

@media (max-width: 500px) {
  .nav__list__section {
    display: none; }
    .nav__list__section:first-child {
      display: block;
      margin-left: auto; }
    .nav__list__section__item__img-container {
      float: right; }
      .nav__list__section__item__img-container__img {
        height: 100%;
        margin-right: 8px; }
    .nav__list__section__mobile-icon {
      display: inline-block;
      padding: 22.5px 0;
      margin-left: 15px;
      font-size: 1.5em;
      cursor: pointer; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .overlay--hidden {
    background-color: transparent;
    z-index: -99;
    transition: background-color 250ms ease, z-index 1ms linear 250ms; }
  .overlay--active {
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 99;
    transition: background-color 275ms ease; }

.mobile-nav {
  z-index: 100;
  display: block;
  background: #11348b;
  position: absolute;
  top: 0;
  width: 200px;
  left: -200px;
  height: 100%;
  transition: left 250ms ease; }
  .mobile-nav--slide-out {
    left: 0;
    transition: left 250ms ease; }
  .mobile-nav__list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    .mobile-nav__list__item {
      display: block;
      cursor: pointer;
      color: white;
      text-decoration: none;
      padding: 15px 0 15px 25px;
      border-bottom: 1px solid #fff; }
      .mobile-nav__list__item__close-icon {
        font-size: 1.75em;
        padding: 17px 0 17px 8px;
        height: 100%;
        background-color: #0e2b75;
        cursor: auto; }
        .mobile-nav__list__item__close-icon--close {
          position: relative;
          left: 10px;
          top: 2.5px;
          cursor: pointer; }
