.cta-form {

    &--bg {
        background: url("./images/form-bg.jpg") no-repeat 50% 25%;
        background-size: cover;
    }
    
    &__input, &__textarea {
        width: 400px;
        display: block;
        border: none;
        border-radius: 2.5px;
        padding: 5px 10px;
        font-family: 'proxima nova';
        letter-spacing: .25px;
        font-size: 1em;
        
    }
    
    
    &__input {
        margin-bottom: 20px;
        height: 25px;
        font-weight: bold;
    }

    &__textarea {
        height: 125px;
        margin-bottom: 30px;
    }

    &__label {
        color: #fff;
        font-size: 1.1em;
        text-transform: capitalize;
        margin-bottom: 7.5px;
        display: inline-block;
    }
}

@media only screen and (max-width: 475px) {
    .cta-form {
        &__input, &__textarea {
            width: 90%;
        }
    }
}