.cta-form {
    &--bg {
        background: url("./images/form-bg.jpg") no-repeat 50% 25%;
        background-size: cover;
    }
    
    &__input, &__textarea {
        width: 400px;
        display: block;
        border: none;
        border-radius: 5px;
        padding: 2px 10px;
    }

    &__input {
     margin-bottom: 20px;
     height: 25px;
    }

    &__textarea {
        height: 125px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 475px) {
    .cta-form {
        &__input, &__textarea {
            width: 90%;
        }
    }
}