.two-col-container {
    display: flex;
    flex-wrap: wrap;

    &__text-container {
        order: 0;
        width: calc(50% - 50px);
        margin: 0 25px;
    }

    &__img-container {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .two-col-container {
        &__text-container, &__img-container {
            width: 100%;
        }

        &__img-container {
            margin: 30px auto;
            max-width: 90%
        }
    }
}