h1, p, a {
    font-family: 'proxima-nova', sans-serif;
}

.para-md-width {
    max-width: 600px;
}

.text-center {
    text-align: center;
}

.h1-header {
    color: #fff;
    font-size: 2.6em;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1.1em;

    &--blue {
        color: $blue;
    }
}

.h3-header {
    color: $blue;
    font-size: 1.25em;
}

.para {
    color: $blue;
    font-size: 1.1em;
    line-height: 1.25em;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    .h1-header {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 300px) { 
    
    .para, .h1-header {
        text-align: center;
    }
}