.content-wrapper {
    max-width: 1082px;
    margin: 0 auto;
}

.nav {
    height: 75px;
    &__list {
        background: $dark-blue;
        padding: 0;
        margin: 0 auto;
        &__section {

            &__mobile-icon {
                display: none;
            }

            display: flex;
            list-style: none;
            align-items: center;
            height: 70px;
            ;
            color: white;
            margin: 0 15px 0 0;
            &:first-child {
                margin-left: 15px;
            }
            text-decoration: none;
            &--left {
                margin-left: auto;
            }
            &__item {
                &__text {}
                &__img-container {
                    height: 50px;
                    padding: 10px 0;
                    &__img {
                        height: 100%;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .nav {
        &__list {
            &__section {
                display: none;
                
                &:first-child {
                    display: block;
                    margin-left: auto;
                }

                &__item {
                    &__img-container {
                        float: right;
                        &__img {
                            height: 100%;
                            margin-right: 8px;
                        }
                    }
                }

                &__mobile-icon {
                    display: inline-block;
                    padding: 22.5px 0;
                    margin-left: 15px;
                    font-size: 1.5em;
                    cursor: pointer;
                }
            }
        }
    }
}